
form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: #333;
}

.errorMsg{
  text-align: center;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

.submitOffer {
  background-color: #e5f4e3;
  color: rgb(17, 16, 16);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}
.submitOffer:hover{
  background-color: #acc7a9;
  text-decoration: underline;
}

.submitRequest {
  background-color:  #e2dadd;
  color: rgb(27, 27, 27);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.submitRequest:hover{
  background-color: #ad969f;
  text-decoration: underline;
}

p {
  margin-top: 1rem;
  font-size: 0.95rem;
  text-align: center;
}

.toggle {
  color: #6e4555;
  cursor: pointer;
  text-decoration: underline;
}

.toggle:hover {
  color: #5a8d58;
}

.radios{
    display: flex;
    justify-content: space-evenly;
}

.typeForm {
    text-align: center;
}

.auth{
  background-color: #e5f4e3
}

.auth:hover{
  background-color: #acc2ab
}